In [28]:
import pandas as pd
order_products_smol = pd.read_csv("../instacart_2017_05_01/order_products__train.csv")
aisles = pd.read_csv("../instacart_2017_05_01/aisles.csv")
departments = pd.read_csv("../instacart_2017_05_01/departments.csv")
products = pd.read_csv("../instacart_2017_05_01/products.csv")
orders = pd.read_csv("../instacart_2017_05_01/orders.csv")

In [29]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [30]:
user_orders = orders.merge(order_products_smol,on='order_id', how='inner')

In [31]:
user_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,train,11,4,8,14.0,196,1,1
1,1187899,1,train,11,4,8,14.0,25133,2,1
2,1187899,1,train,11,4,8,14.0,38928,3,1
3,1187899,1,train,11,4,8,14.0,26405,4,1
4,1187899,1,train,11,4,8,14.0,39657,5,1

In [32]:
user_orders = user_orders.merge(products, on='product_id', how='inner')

In [33]:
user_orders = user_orders.merge(aisles, on='aisle_id', how='inner')
user_orders = user_orders.merge(departments, on='department_id', how='inner')
user_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,1187899,1,train,11,4,8,14.0,196,1,1,Soda,77,7,soft drinks,beverages
1,2757217,67,train,25,0,11,5.0,196,1,1,Soda,77,7,soft drinks,beverages
2,632715,676,train,12,0,13,26.0,196,2,1,Soda,77,7,soft drinks,beverages
3,1167274,760,train,5,4,10,8.0,196,2,1,Soda,77,7,soft drinks,beverages
4,3347074,804,train,16,3,21,5.0,196,4,0,Soda,77,7,soft drinks,beverages

# Unweighed
## Not taking reorders into account

In [34]:
reordercheck = user_orders.groupby(['user_id', 'product_id']).size()
reordercheck[reordercheck > 1]

Series([], dtype: int64)

Guess there are no duplicate items per person

In [35]:
user_orders['order'] = 1

In [36]:
def weigh_orders(order):
    if order['reordered']:
        return 1.3
    else:
        return 1

In [37]:
user_orders['weighted_order'] = user_orders.apply(weigh_orders, axis=1)

In [38]:
user_orders.head(20)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,order,weighted_order
0,1187899,1,train,11,4,8,14.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
1,2757217,67,train,25,0,11,5.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
2,632715,676,train,12,0,13,26.0,196,2,1,Soda,77,7,soft drinks,beverages,1,1.3
3,1167274,760,train,5,4,10,8.0,196,2,1,Soda,77,7,soft drinks,beverages,1,1.3
4,3347074,804,train,16,3,21,5.0,196,4,0,Soda,77,7,soft drinks,beverages,1,1.0
5,692135,865,train,4,5,11,30.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
6,3289231,992,train,22,5,14,30.0,196,6,1,Soda,77,7,soft drinks,beverages,1,1.3
7,1269882,1306,train,7,5,10,6.0,196,9,1,Soda,77,7,soft drinks,beverages,1,1.3
8,1558696,1512,train,4,1,10,27.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
9,2005577,1550,train,14,1,14,30.0,196,6,1,Soda,77,7,soft drinks,beverages,1,1.3
10,1500774,1614,train,17,5,15,22.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
11,3237574,1641,train,7,3,10,9.0,196,18,1,Soda,77,7,soft drinks,beverages,1,1.3
12,2990557,1680,train,43,4,11,7.0,196,4,1,Soda,77,7,soft drinks,beverages,1,1.3
13,3059205,1864,train,7,5,15,17.0,196,4,0,Soda,77,7,soft drinks,beverages,1,1.0
14,1100193,1952,train,7,5,16,3.0,196,32,0,Soda,77,7,soft drinks,beverages,1,1.0
15,3395721,2036,train,6,5,19,30.0,196,2,0,Soda,77,7,soft drinks,beverages,1,1.0
16,901415,2057,train,36,0,20,6.0,196,4,1,Soda,77,7,soft drinks,beverages,1,1.3
17,1169273,2139,train,7,1,22,30.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
18,343151,2623,train,11,1,10,27.0,196,3,1,Soda,77,7,soft drinks,beverages,1,1.3
19,1649031,2634,train,13,4,9,16.0,196,3,1,Soda,77,7,soft drinks,beverages,1,1.3

In [ ]:
users = user_orders.pivot(index='user_id', columns='product_id', values='order')

In [ ]:
users.shape

In [19]:
import numpy as np
users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8, users_p9, users_p10 = np.array_split(users, 10)

In [20]:
split_users = (users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8, users_p9, users_p10)
for users in split_users:
    users.fillna(0)

In [21]:
for i, split_user in enumerate(split_users):
    filename = "users_p" + str(i + 1) + ".pkl"
    split_user.to_pickle(filename)

In [ ]:
users = pd.concat([users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8,users_p9, users_p10], axis=0)

In [ ]:
users.head()

In [ ]:
users.shape

In [ ]:
import numpy as np
users_matrix = users.values()
users_mean = np.mean(users_matrix, axis = 1)
users_demeaned = users_matrix - users_mean.reshape(-1, 1)

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(users_demeaned, k = 50)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
all_user_predicted_purchases = np.dot(np.dot(U, sigma), Vt) + users_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_purchases, columns = users.columns)