In [1]:
import pandas as pd
order_products_smol = pd.read_csv("../instacart_2017_05_01/order_products__train.csv")
aisles = pd.read_csv("../instacart_2017_05_01/aisles.csv")
departments = pd.read_csv("../instacart_2017_05_01/departments.csv")
products = pd.read_csv("../instacart_2017_05_01/products.csv")
orders = pd.read_csv("../instacart_2017_05_01/orders.csv")

In [24]:
orders.head(50)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
30,2710558,3,prior,5,0,17,12.0
31,1972919,3,prior,6,0,16,7.0
32,1839752,3,prior,7,0,15,7.0
33,3225766,3,prior,8,0,17,7.0
34,3160850,3,prior,9,0,16,7.0
35,676467,3,prior,10,3,16,17.0
36,521107,3,prior,11,0,18,11.0
37,1402502,3,prior,12,1,15,15.0
38,2774568,3,test,13,5,15,11.0
39,3343014,4,prior,1,6,11,NaN
40,2030307,4,prior,2,4,11,19.0
41,691089,4,prior,3,4,15,21.0
42,94891,4,prior,4,5,13,15.0
43,2557754,4,prior,5,5,13,0.0
44,329954,4,test,6,3,12,30.0
45,2717275,5,prior,1,3,12,NaN
46,1909121,5,prior,2,0,16,11.0
47,2267326,5,prior,3,3,18,10.0
48,157374,5,prior,4,1,18,19.0
49,2196797,5,train,5,0,11,6.0

In [3]:
user_orders = orders.merge(order_products_smol,on='order_id', how='inner')

In [4]:
user_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,train,11,4,8,14.0,196,1,1
1,1187899,1,train,11,4,8,14.0,25133,2,1
2,1187899,1,train,11,4,8,14.0,38928,3,1
3,1187899,1,train,11,4,8,14.0,26405,4,1
4,1187899,1,train,11,4,8,14.0,39657,5,1

In [5]:
user_orders = user_orders.merge(products, on='product_id', how='inner')

In [6]:
user_orders = user_orders.merge(aisles, on='aisle_id', how='inner')
user_orders = user_orders.merge(departments, on='department_id', how='inner')
user_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,1187899,1,train,11,4,8,14.0,196,1,1,Soda,77,7,soft drinks,beverages
1,2757217,67,train,25,0,11,5.0,196,1,1,Soda,77,7,soft drinks,beverages
2,632715,676,train,12,0,13,26.0,196,2,1,Soda,77,7,soft drinks,beverages
3,1167274,760,train,5,4,10,8.0,196,2,1,Soda,77,7,soft drinks,beverages
4,3347074,804,train,16,3,21,5.0,196,4,0,Soda,77,7,soft drinks,beverages

# Unweighed
## Not taking reorders into account

In [7]:
reordercheck = user_orders.groupby(['user_id', 'product_id']).size()
reordercheck[reordercheck > 1]

Series([], dtype: int64)

Guess there are no duplicate items per person

In [8]:
user_orders['order'] = 1

In [9]:
def weigh_orders(order):
    if order['reordered']:
        return 1.3
    else:
        return 1

In [12]:
user_orders['weighted_order'] = user_orders.apply(weigh_orders, axis=1)

In [13]:
user_orders.head(20)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,order,weighted_order
0,1187899,1,train,11,4,8,14.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
1,2757217,67,train,25,0,11,5.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
2,632715,676,train,12,0,13,26.0,196,2,1,Soda,77,7,soft drinks,beverages,1,1.3
3,1167274,760,train,5,4,10,8.0,196,2,1,Soda,77,7,soft drinks,beverages,1,1.3
4,3347074,804,train,16,3,21,5.0,196,4,0,Soda,77,7,soft drinks,beverages,1,1.0
5,692135,865,train,4,5,11,30.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
6,3289231,992,train,22,5,14,30.0,196,6,1,Soda,77,7,soft drinks,beverages,1,1.3
7,1269882,1306,train,7,5,10,6.0,196,9,1,Soda,77,7,soft drinks,beverages,1,1.3
8,1558696,1512,train,4,1,10,27.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
9,2005577,1550,train,14,1,14,30.0,196,6,1,Soda,77,7,soft drinks,beverages,1,1.3
10,1500774,1614,train,17,5,15,22.0,196,1,0,Soda,77,7,soft drinks,beverages,1,1.0
11,3237574,1641,train,7,3,10,9.0,196,18,1,Soda,77,7,soft drinks,beverages,1,1.3
12,2990557,1680,train,43,4,11,7.0,196,4,1,Soda,77,7,soft drinks,beverages,1,1.3
13,3059205,1864,train,7,5,15,17.0,196,4,0,Soda,77,7,soft drinks,beverages,1,1.0
14,1100193,1952,train,7,5,16,3.0,196,32,0,Soda,77,7,soft drinks,beverages,1,1.0
15,3395721,2036,train,6,5,19,30.0,196,2,0,Soda,77,7,soft drinks,beverages,1,1.0
16,901415,2057,train,36,0,20,6.0,196,4,1,Soda,77,7,soft drinks,beverages,1,1.3
17,1169273,2139,train,7,1,22,30.0,196,1,1,Soda,77,7,soft drinks,beverages,1,1.3
18,343151,2623,train,11,1,10,27.0,196,3,1,Soda,77,7,soft drinks,beverages,1,1.3
19,1649031,2634,train,13,4,9,16.0,196,3,1,Soda,77,7,soft drinks,beverages,1,1.3

In [18]:
users = user_orders[['user_id', 'product_id', 'weighted_order']]

In [19]:
users.head()

   user_id  product_id  weighted_order
0        1         196             1.3
1       67         196             1.3
2      676         196             1.3
3      760         196             1.3
4      804         196             1.0

In [22]:
users = users.pivot(index='user_id', columns='product_id', values='weighted_order')

MemoryError:

In [ ]:
users = users.fillna(0)

In [ ]:
users.to_pickle('users.pkl')

In [14]:
import numpy as np
users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8, users_p9, users_p10, users_p11, users_p12 = np.array_split(users, 12)

In [15]:
users_p1.shape

(10935, 39123)

In [16]:
users_p1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10935 entries, 1 to 17100
Columns: 39123 entries, 1 to 49688
dtypes: float64(39123)
memory usage: 3.2 GB

In [17]:
users_p1 = users_p1.fillna(0)
users_p2 = users_p2.fillna(0)
users_p3 = users_p3.fillna(0)

In [18]:
users_p4 = users_p4.fillna(0)
users_p5 = users_p5.fillna(0)
users_p6 = users_p6.fillna(0)
users_p7 = users_p7.fillna(0)
users_p8 = users_p8.fillna(0)
users_p9 = users_p9.fillna(0)
users_p10 = users_p10.fillna(0)

In [19]:
users_p11 = users_p11.fillna(0)
users_p12 = users_p12.fillna(0)

In [20]:
users_p1.head()

product_id,1,2,3,4,5,7,8,9,10,11,...,49677,49678,49679,49680,49681,49682,49683,49686,49687,49688
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
split_users = [users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8, users_p9, users_p10, users_p11, users_p12]
for i, split_user in enumerate(split_users):
    filename = "users_p" + str(i + 1) + ".pkl"
    split_user.to_pickle(filename)

OSError: [Errno 22] Invalid argument

In [ ]:
users = pd.concat([users_p1, users_p2, users_p3, users_p4, users_p5, users_p6, users_p7, users_p8, users_p9, users_p10, users_p11, users_p12], axis=0)

In [ ]:
users.head()

In [ ]:
users.shape

In [ ]:
import numpy as np
users_matrix = users.values()
users_mean = np.mean(users_matrix, axis = 1)
users_demeaned = users_matrix - users_mean.reshape(-1, 1)

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(users_demeaned, k = 50)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
all_user_predicted_purchases = np.dot(np.dot(U, sigma), Vt) + users_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_purchases, columns = users.columns)