# Import

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from ast import literal_eval

# Data

## Load

In [3]:
order_products__train = pd.read_csv("../instacart_2017_05_01/order_products__train.csv")
order_products__prior = pd.read_csv("../instacart_2017_05_01/order_products__prior.csv")
products = pd.read_csv("../instacart_2017_05_01/products.csv")
orders = pd.read_csv("../instacart_2017_05_01/orders.csv")

## Train

In [5]:
orders_train = orders[orders['eval_set'] == 'train'].reset_index()
orders_train = orders_train[['user_id', 'order_id']]

In [7]:
order_products__train = order_products__train[['order_id', 'product_id', 'reordered']]
order_products__train = order_products__train.groupby('order_id')['product_id'].apply(list).reset_index()
order_products__train.head()

   order_id                                         product_id
0         1  [49302, 11109, 10246, 49683, 43633, 13176, 472...
1        36  [39612, 19660, 49235, 43086, 46620, 34497, 486...
2        38  [11913, 18159, 4461, 21616, 23622, 32433, 2884...
3        96  [20574, 30391, 40706, 25610, 27966, 24489, 39275]
4        98  [8859, 19731, 43654, 13176, 4357, 37664, 34065...

In [9]:
user_products__train = pd.merge(order_products__train, orders_train, on='order_id')
user_products__train = user_products__train[['user_id', 'product_id']]
user_products__train.sort_values('user_id').head()

       user_id                                         product_id
45974        1  [196, 25133, 38928, 26405, 39657, 10258, 13032...
57713        2  [22963, 7963, 16589, 32792, 41787, 22825, 1364...
84605        5  [15349, 19057, 16185, 21413, 20843, 20114, 482...
20273        7  [12053, 47272, 37999, 13198, 43967, 40852, 176...
34209        8  [15937, 5539, 10960, 23165, 22247, 4853, 27104...

In [28]:
user_products__train[user_products__train.duplicated(['user_id'], keep=False)]

Empty DataFrame
Columns: [user_id, product_id]
Index: []

In [30]:
user_products__train.set_index('user_id', inplace=True)

In [26]:
test_subjects = user_products__train.index

In [31]:
user_products__train.head()

                                                product_id
user_id
112108   [49302, 11109, 10246, 49683, 43633, 13176, 472...
79431    [39612, 19660, 49235, 43086, 46620, 34497, 486...
42756    [11913, 18159, 4461, 21616, 23622, 32433, 2884...
17227    [20574, 30391, 40706, 25610, 27966, 24489, 39275]
56463    [8859, 19731, 43654, 13176, 4357, 37664, 34065...

## Prior

In [11]:
orders_prior = orders[orders['eval_set'] == 'train'].reset_index()
orders_prior = orders_prior[['user_id', 'order_id']]

In [12]:
order_products__prior = order_products__prior[['order_id', 'product_id', 'reordered']]
order_products__prior = order_products__prior.groupby('order_id')['product_id'].apply(list).reset_index()
order_products__prior.sort_values('user_id').head()

KeyError: 'user_id'