In [1]:
import pandas as pd

In [34]:
orders = pd.read_csv('../instacart_2017_05_01/orders.csv')
order_products__prior = pd.read_csv('../instacart_2017_05_01/order_products__train.csv')
products = pd.read_csv('../instacart_2017_05_01/products.csv')

In [6]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## How many orders per user?

In [12]:
order_count = orders.groupby('user_id')['order_id'].count()

In [14]:
order_count.mean()

16.590367054784224

In [15]:
order_count.median()

10.0

In [19]:
order_count.std()

16.654773501154427

## How many products per order?

In [23]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [31]:
order_products__prior[order_products__prior['order_id'] == 98].shape[0]

49

In [25]:
product_count = order_products__prior.groupby('order_id')['product_id'].count()
product_count.head()

order_id
1      8
36     8
38     9
96     7
98    49
Name: product_id, dtype: int64

In [26]:
product_count.mean()

10.552759338155157

In [27]:
product_count.median()

9.0

In [28]:
product_count.std()

7.932846765027215

## Number of users

In [36]:
orders['user_id'].unique().shape

(206209,)

## Number of orders

In [39]:
orders.shape[0]

3421083

## Number of products

In [41]:
products.shape[0]

49688